<%# app/views/tasks/_form.html.erb %>
<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.collection_select :project_id, Project.all, :id, :name, prompt: "Select a Project (optional)", selected: task.project_id || nil  %>    
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.textarea :notes %>
  </div>

  <div>
    <%= form.label :deadline, style: "display: block" %>
    <%= form.datetime_field :deadline, value: task.deadline || (Time.now + 1.hour)  %>
  </div>

  <div>
    <%= form.label :user_ids, "Assign Users" %><br>
    <%= form.select :user_ids,
        options_from_collection_for_select(User.all, :id, :email, task.user_ids),
        {}, # no options here
        multiple: true,
        class: "user-select",
        data: { placeholder: "Select users to assign" } %>
  </div>

  <div>
    <%= form.label :time_entry_ids, "Select Time Entries" %><br>
    <%= form.select :time_entry_ids, [], {}, 
          multiple: true, 
          class: "time-entry-select", 
          data: { url: search_time_entries_path } %>
  </div>

  <div>
    <%= form.label :completed, style: "display: block" %>
    <%= form.checkbox :completed %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
