<%# app/views/home/index.html.erb %>
<h1><%= @tab&.titlecase || 'Blank' %> Report</h1>

<%= render 'reports/tabs', active_tab: @tab %>

<div id="report-content">
  <% case params[:tab] %>
  <% when 'projects' %>
    <%= render 'reports/projects', projects: @projects %>
  <% when 'time_entries' %>
    <%= render 'reports/time_entries', time_entries: @time_entries %>
  <% when 'all' %>
    <%= render 'reports/all',tasks: @tasks, time_entries: @time_entries,projects: @projects  %>, 
  <% else %>
    <%= render 'reports/tasks', tasks: @tasks %>
  <% end %>

  
</div>
