<!-- app/views/projects/_form.html.erb -->
<%= form_with model: @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :user_ids, "Assign Users" %><br>
    <%= f.collection_select :user_ids, User.all, :id, :email, {}, multiple: true %>
  </div>

  <div>
    <h3>Tasks</h3>
    <%= f.fields_for :tasks do |task_fields| %>
      <%= render 'task_fields', f: task_fields %>
    <% end %>

    <%= link_to 'Add Task', '#', id: 'add-task', data: {
      prototype: f.fields_for(:tasks, Task.new, child_index: 'new_task') { |builder| render('task_fields', f: builder) }.gsub("\n", "")
    } %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
