<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <h3>Tasks</h3>
  <%= form.fields_for :tasks do |task_fields| %>
    <div class="nested-fields">
      <%= task_fields.text_field :name, placeholder: "Task Name" %>
      <%= task_fields.text_area :description, placeholder: "Task Description" %>
      <%= task_fields.datetime_select :deadline %>
      <%= task_fields.check_box :completed %>
      <%= link_to_remove_association "Remove Task", task_fields %>
    </div>
  <% end %>
  <%= link_to_add_association 'Add Task', form, :tasks %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>