<%# app/views/projects/_form.html.erb %>
<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

<!--  <div>-->
    <%#= form.label :task_ids, "Assign Tasks" %><br>
    <%#= select_tag "project[task_ids][]",
      options_from_collection_for_select(Task.where(project_id: [nil, project.id]), :id, :name, project.task_ids),
      multiple: true,
      class: "task-select",
      data: { placeholder: "Select tasks to assign" } %>
<!--  </div>

  <div>
    <%#= form.label :user_ids, "Assign Users" %><br>-->
    <%#= form.collection_select :user_ids, User.all, :id, :email, {}, multiple: true %>
<!--  </div>-->
  <div>
    <%= form.label :task_ids, "Assigned Tasks", style: "display: block" %>
    <%= form.select :task_ids, 
      options_from_collection_for_select(Task.all, :id, :name, project.task_ids),
      {}, # no options here
      {
        multiple: true,
        class: "user-select",
        data: { 
          placeholder: "Select tasks to assign",
          controller: "select2", 
          "select2-url-value" => search_tasks_path,
          "select2-preselected-ids-value" => project.task_ids
        },
      } 
    %>  
  </div>

  <div>
    <%= form.label :user_ids, "Assign Users" %><br>
    <%= form.select :user_ids, 
      options_from_collection_for_select(User.all, :id, :name, project.user_ids),
      {}, # no options here
      {
        multiple: true,
        class: "user-select",
        data: { 
          placeholder: "Select users to assign",
          controller: "select2", 
          "select2-url-value" => search_users_path,
          "select2-preselected-ids-value" => project.user_ids
        },
      } 
    %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>

