<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p><strong>Assigned Users:</strong>
    <%= project&.users&.map(&:email)&.join(", ") %>
  </p>



  <h3>Tasks</h3>
  

  <% if project.present? %>
    <ul class="task-button-group">
      <% project.tasks.each do |task| %>
        <li>
          <%= link_to task.name, task_path(task), class: "btn-link task-button" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to 'Add Task', new_task_path(project_id: @project&.id||nil), class: "btn-link" %>
  <%= link_to "Edit Project", edit_project_path(project), class: "btn-link project-button" %>
  <%= link_to "Destroy Project", project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger btn-link project-button" %>

</div>
