<div id="<%= dom_id time_entry %>">
  <p>
    <strong>Start time:</strong>
    <%= time_entry.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= time_entry.end_time %>
  </p>

  <p>
    <strong>User:</strong>
    <%= time_entry.user.email %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= time_entry.task&.name || nil %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= time_entry.note %>
  </p>

  <%= link_to "Edit", edit_time_entry_path(time_entry), class: "btn-link time_entry-button" %>
  <%= link_to "Destroy", time_entry_path(time_entry), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger btn-link time_entry-button" %>

</div>