<%# app/views/reports/_tasks.html.erb %>
<%= render 'reports/filters' %>
<%= render 'reports/sort_buttons' %>

<ul>
  <% if tasks.present?%>
    <% tasks.each do |task| %>
      <%= link_to task_path(task), class: "task-list-item-link" do %>
        <li>
          <strong><%= task.name %></strong> 
          Project: <%= task.project&.name %> |
          Deadline: <%= task.deadline&.to_date %> |
          Completed: <%= task.completed ? '✅' : '❌' %>
        </li>
      <% end  %>
    <% end %>
  <% else%>
    <%= "No tasks found" %>
  <% end %>
</ul>
