<nav>
  <%= link_to "Home", root_path %> |
  <%= link_to "Entries", time_entries_path %> |
  <%= link_to "Tasks", tasks_path %> |
  <%= link_to "Projects", projects_path %> |
  <%= link_to "Log Time", new_time_entry_path %>

  <% if user_signed_in? %>
    | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    | <%= link_to "Login", new_user_session_path %>
  <% end %>
</nav>
