<%# app/views/layouts/_navbar.html.erb %>

<nav>
<%= nav_link_to "Home", root_path, "home" %>
<%= nav_link_to "Entries", time_entries_path, "time_entries" %>
<%= nav_link_to "Tasks", tasks_path, "tasks" %>
<%= nav_link_to "Projects", projects_path, "projects" %>
<%= nav_link_to "Log Time", new_time_entry_path, "time_entries" %>


   <% if user_signed_in? %>
      <span class="nav-float-right" style="margin-right: 10px;">
         Signed in as <strong><%= current_user.name || current_user.email || "User" %></strong>
      </span>
      <%= link_to "Logout", destroy_user_session_path, method: :delete%>
   <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-float-right" %>
   <% end %>

</nav>
