<%# app/views/layouts/_navbar.html.erb %>

<nav class="clip-container">

<%= nav_link_to "Home", root_path, controller: "home" %>
<%= nav_link_to "Entries", time_entries_path, controller: "time_entries" %>
<%= nav_link_to "Tasks", tasks_path, controller: "tasks" %>
<%= nav_link_to "Projects", projects_path, controller: "projects" %>
<%= nav_link_to "Log Time", new_time_entry_path, controller: "time_entries", action: "new" %>



<% if user_signed_in?%>
   <!--THIS partial is now responsible for logOut options too-->
   <%= render "layouts/navbar_profile"%>
<% else %>
   <%= link_to "Login", new_user_session_path, class: "nav-float-right" %>
<% end %>

</nav>
